### Day 1

In [1]:
print("Hello world")

print("hi this is hemanth")

print("hi")

print("Hello")

Hello world
hi this is hemanth
hi
Hello

Questions to practice (Day-1):

In [42]:
# 1.Print your name.
print("My name is Hemanth")    #My name is Hemanth

# 2.Print the result of adding two numbers.
print(42+63)                    #105

# 3.Print the result of subtracting two numbers.
print(144-1)                    #143

# 4.Print the result of multiplying two numbers.
print(7*9)                      #63

# 5.Print the result of dividing two numbers.
print(144/12)                    #12.0

My name is Hemanth
105
143
63
12.0

## Day 2

Variables and Data types

In [7]:
#variables
a = "nihar"
b = " is a "
c = "good boy"
print(a+b+c)

a = input("Enter your Name ")
print("Your name is: " +a)

nihar is a good boy
Your name is: Hemanth

In [8]:
#datatypes

a = 1                 #int datatype for integers
b = "hemanth"          #str datatype for characters
c = 3.33                #float datatype is for decimals 
d = True                #bool datatype is for boolean expressions like true or false 
print(type(a))
print(type(b))
print(type(c)) 
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

### Questions to Practice (Day - 2):

In [ ]:
# 1.Declare two variables `a` and `b`, assign integer values to them, and print their sum.
#    Expected Output: The sum of `a` and `b`.

a = 42
b = 63
print(a+b )                                 #105

# 2.Create a variable `name` and assign your name to it. Print a greeting message using your name.
#   Expected Output: Greeting message with your name, e.g., "Hello, John!"

name = "Hemanth"
print("Hello " +str( name ))                #Hello Hemanth

# 3.Define a variable `pi` and assign the value of π (pi) to it. Print the value of `pi`.
#    Expected Output:The value of π (pi), e.g., 3.14159.

pi = 3.14159
print(pi)                                   #3.14159

# 4. Define a variable `is_raining` and ask the user to input either "True" or "False" (as a string). Convert the input to a boolean and print its type.
#    Expected Input: "True" or "False"
#    Expected Output: The data type of the converted boolean.

user_input = input("Is it raining ? Enter 'True' or 'False' " )
is_raining = user_input == "True"
print(type(is_raining))                     #<class bool>

# 5. Create a string variable sentence containing any sentence of your choice. Ask the user to input a number, convert it to an integer, and print the sentence repeated that number of times.
#    Expected Input: A number (e.g., "3")
#    Expected Output:The sentence repeated the specified number of times.

a = "Hey I am eager to learn Python!"

b= int(input("Enter the number:"))

for _ in range(b):
    print(a)

#6. Given two variables `x` and `y`, perform the following operations and print the results:
    # - Addition of `x` and `y`.
    # - Subtraction of `y` from `x`.
    # - Multiplication of `x` and `y`.
    # - Division of `x` by `y`.
    # - `x` raised to the power of `y`.
    # - The remainder when `x` is divided by `y`.
    # - The floor division of `x` by `y`.

x = int(input("Enter the value of x:"))                             #8
y = int(input("Enter the value of y:"))                             #22

print("Addition of x and y :" +str(x+y))                            #30
print("Subtraction of x and y:"+str(x-y))                           #-14
print("Multiplication of x and y:" +str(x*y))                       #176
print("Division of x and y:"+str(x/y))                              #0.36363636363636365
print("x raised to the power of y:"+str(x**y))                      #73786976294838206464
print("The remainder when x is divided by y:"+str(x % y))           #8
print("The floor division of x and y:"+str(x // y))                 #0

# 7. Define a variable `value` and assign any numerical value to it. Ask the user to input a new value. Update the variable `value` with the new input and print the updated value.
# - Expected Input: A numerical value (e.g., "42")
# - Expected Output: The updated value of the variable.

value = 63
i = int (input("enter the new number: "))
value = float(i)
print("Updated value: ", value)                                      #42.0

105
Hello Hemanth
3.14159
<class 'bool'>
Hey I am eager to learn Python!
Hey I am eager to learn Python!
Addition of x and y :30
Subtraction of x and y:-14
Multiplication of x and y:176
Division of x and y:0.36363636363636365
x raised to the power of y:73786976294838206464
The remainder when x is divided by y:8
The floor division of x and y:0
Updated value:  42.0

## Day 4 

Playing with strings

In [13]:
# String Concatenation

a= "Hemanth" + " " + "Hemu"
print(a)

# String Repetition 

b = "Hemanth " * 8
print(b)

c = ("*" * 4) + a + ("*" * 4)
print(c)

print(len(a))

Hemanth Hemu
Hemanth Hemanth Hemanth Hemanth Hemanth Hemanth Hemanth Hemanth
****Hemanth Hemu****
12

### Questions to Solve (Day - 4):

In [15]:
# 1. Concatenate two strings `str1` and `str2`, and print the result.
#     - Expected Input: str1 = "Hello", str2 = "World"
#     - Expected Output: "HelloWorld"

str1 = "Hello"
str2 = "World"

a = str1 + " " +str2

print(a)

Hello World

In [16]:
# 2. Ask the user to enter their name and a greeting. Concatenate the name and greeting to form a personalized message and print it.
#     -Expected Input: name = "John", greeting = "Hi"
#     -Expected Output: "Hi John"

a = input("Enter your name: ")
b = input("Enter a greeting: ")

print(b + " " + a)

Hello Hemanth

In [18]:
# 3. Create a string `word` and repeat it 5 times. Print the result.
#     - Expected Input: word = "Python"
#     - Expected Output: "PythonPythonPythonPythonPython"

i = input("Enter a word: ")
print(i*5)

Hemanth Hemanth Hemanth Hemanth Hemanth

In [25]:
# 4. Ask the user to enter a word and a number. Repeat the word as many times as the given number and print the result.
#     - Expected Input: word = "Hello", number = 3
#     - Expected Output: "HelloHelloHello"

i = input("Enter a word: ")
j = int(input("Enter no of times to be repeated: "))

#k = i * j
print(i * j)

Ram Ram Ram

In [27]:
# 5. Create a string `sentence` and find its length. Print the length of the sentence.
#     - Expected Input: sentence = "This is a sample sentence."
#     - Expected Output: 27

sentence = input("Enter a Sentence : ")
print(len(sentence))

15

In [32]:
# 6. Ask the user to input a sentence. Find the length of the sentence, and print the last character of the sentence.
#     - Expected Output: Length of the sentence and the last character.

i = input("Enter the sentence: ")

j = i.split()

print(len(i))
print(i[-1])
print(j[-1])

11
u
you

In [ ]:
# 7. Create two strings `str1` and `str2`. Find the lengths of both strings and concatenate them. Print the concatenated string.
#     - Expected Input: str1 = "Hello", str2 = "World"
#     - Expected Output: "HelloWorld"

# 8.Ask the user to enter two words, word1 and word2. Concatenate the two words with a space in between and print the result.

str1 = input("Enter the first word: ")                      #Hemanth
str2 = input("Enter the second word: ")                     #Hemu

len(str1)
len(str2)

print(str1 + str2)

Hemanth Hemu

In [41]:
# Create a string pattern containing "*" character and repeat it to form a pattern. The pattern should have 5 rows. Print the resulting pattern.

i = "*"

for j in range(1, 6):
    print(i * j)

*
**
***
****
*****

## Day 5

Type Conversion

### Questions to practice (Day - 5)

In [136]:
# Question 1:
# Convert the integer 42 to a string.

# Expected Input:

# value = 42

# Expected Output:

# result = "42

i = int(input("Enter the number: "))
print(i, type(i))

j = str(i)
print(j, type(j))

42 <class 'int'>
42 <class 'str'>

In [ ]:
# Question 2:
# Convert the string "123" to an integer.

# Expected Input:

# value = "123"

# Expected Output:

# result = 123

i = "123"
print(i, type(i))

j = int(i)
print(j, type(j))

123 <class 'str'>
123 <class 'int'>

In [ ]:
# Question 3:
# Convert the float 3.14 to an integer.

# Expected Input:

# value = 3.14

# Expected Output:

# result = 3

i = 3.14
print(i, type(i))

j = int(i)
print(j, type(j))

# Question 4:
# Convert the string "5.5" to a floating-point number.

# Expected Input:

# value = "5.5"

# Expected Output:

# result = 5.5

i = "5.5"
print(i, type(i))

j= float(i)
print(j, type(j))

3.14 <class 'float'>
3 <class 'int'>
5.5 <class 'str'>
5.5 <class 'float'>

In [ ]:
# Question 5:
# Convert the integer 100 to a boolean.

# Expected Input:

# value = 100

# Expected Output:

# result = True

i = 100
print(i, type(i))

j = bool(i)
print("result: ",j)

# Question 6:
# Convert the boolean True to an integer.

# Expected Input:

# value = True

# Expected Output:

# result = 1

i = True
print(i, type(i))

j = int(i)
print(j, type(j))

# Question 7:
# Convert the string `"False"` to a boolean.

# Expected Input:

# value = “False”

# Expected Output:

# result = True

i = "False"
print(i, type(i))

j = bool(i)
print(j, type(j))

100 <class 'int'>
result:  True
True <class 'bool'>
1 <class 'int'>
False <class 'str'>
True <class 'bool'>

## Day 6

String Indexing

### Questions to practice (Day 6):

In [ ]:
# 1.Example: Get the first character of the sentence.
# Input: "The sun is shining."
# Output: "T"

i = "The sun is shining."
print(i[0])

# 2.Example: Get the last character of the sentence.
# Input: "She sells seashells by the seashore."
# Output: "."

i = "She sells seashells by the seashore."
print(i[-1]) 

# 3.Example: Get the character at index 3.
# Input: "I love Python!"
# Output: "o"

i = "I love Python!"
print(i[3])

# 4.Example: Get the second last character of the sentence.
# Input: "Life is beautiful."
# Output: "l"

i = "Life is beautiful."
print(i[-2])

# 5.Example: Get a substring from index 7 to index 14 (exclusive).
# Input: "Welcome to Python programming."
# Output: " to Pyt"

i = "Welcome to Python Progrmming."
print(i[7:14])

# 6.Example: Get a substring from index -9 to -3.
# Input: "The future is bright."
# Output: "s brig"

i = "The future is bright." 
print(i[-9:-3])

# 7.Example: Get the first six characters of the sentence.
# Input: "Good things take time."
# Output: "Good t"

i = "Good things take time."
print(i[0:6])

# 8.Example: Reverse the sentence using slicing.
# Input: "Python is awesome!"
# Output: "!emosewa si nohtyP"

i = "Python is awesome!"
print(i[::-1])

# 9.Example: Get the length of the sentence using indexing.
# Input: "Coding is fun!"
# Output: 14

i = "Coding is fun!"
print(len(i))

T
.
o
l
 to Pyt
s brig
Good t
!emosewa si nohtyP
14

## Day 9 

Conditional Statements( "if, elif , else")

In [ ]:
a = "Hemanth"
b = input("My wifes name is: ")
c = int(input("Enter the age: "))

if a == "Hemanth":
    print("My name is Hemanth")
if b ==  "Ammulu":
    print("My wifes name is Ammulu")
else:
    print("Get lost dumbass")    
if c >18:
    print("Yes!Your guess is correct")
    if c== 22:
        print("Yaaaa! My age is 22")
else:
    print("No your guess is wrong")
if c == 22:
    print("You gussed my correct age")
else:
    print("Opps! My age is 22")

My name is Hemanth
Get lost dumbass
Yes!Your guess is correct
Opps! My age is 22

### Questions to practice (Day 9):

In [ ]:
# Question 1:
# Write a program that takes a number as input and prints "Even" if it's an even number, and "Odd" if it's an odd number.
# Expected Input:
# Enter a number: 7
# Expected Output:
# Odd

i = int(input("Enter a number: "))                #42

if i % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [ ]:
# Question 2:
# Write a program that takes two numbers as input and prints the larger number.
# Expected Input:
# Enter the first number: 15
# Enter the second number: 22
# Expected Output:
# 22

i = int(input("Enter the first number: "))              # 63
j = int(input("Enter the second number: "))             # 42

if i > j:
    print(i)
else:
    print(j)

63

In [ ]:
# Question 3:
# Write a program that takes a character as input and prints "Vowel" if it's a vowel (a, e, i, o, u), and "Consonant" otherwise.
# Expected Input:
# Enter a character: a
# Expected Output:
# Vowel

i = input("Enter a character: ")            #v

if i in 'a, e, i, o, u':
    print("Vowel")
else:
    print("Consonant")

Consonant

In [ ]:
# Question 4:
# Write a program that takes a year as input and prints "Leap Year" if it's a leap year, and "Not a Leap Year" otherwise.
# Expected Input:
# Enter a year: 2024
# Expected Output:
# Leap Year

i = int(input("Enter a year: "))                # 2025

if (i % 4 == 0 and i % 100 != 0) or (i % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Not a Leap Year

In [ ]:
# Question 5:
# Write a program that takes a grade as input (A, B, C, D, or F) and prints "Pass" if it's A, B, C, or D, and "Fail" if it's F.
# Expected Input:
# Enter your grade: C ​
# Expected Output:
# Pass

i = input("Enter you grade: ").upper()

if i in 'A, B, C, D, E':
    print("Pass")
elif i == "F":
    print("Fail")
else:
    print("Mention the correct grades")

Mention the correct grades

## Day 10

Nested Conditional Statements

### Questions to practice (Day - 10)

In [109]:
# Question 1:
# Check if a given number num is positive, negative, or zero.
# Expected Input:
# num = 8 ​
# Expected Output:
# Positive


i = int(input("Enter an integer: "))

if i > 0:
    print("Positive")
elif i < 0:
    print("Negative")
else:
    print("Zero")

Zero

In [118]:
# Question 2:
# Determine the type of a given number num: even or odd, and whether it is positive or negative.
# Expected Input:
# num = -5
# Expected Output:
# Negative 
# Odd

i = int(input("Enter a number: "))

if i>0:
    print("Positive")
    if i%2 == 0:
        print("Even")
    else:
        print("Odd")
elif i<0:
    print("Negative")
    if i%2 == 0:
        print("Even")
    else:
        print("Odd")
elif i == 0:
    print("Neither positive nor negative")

Negative
Even

In [134]:
# Question 3:
# Classify a given age into four categories: baby, child, teenager, or adult.
# Expected Input:
# age = 16
# Expected Output:
# Teenager

i = int(input("Ente the age: "))

if i in range(0,3):
    print("Baby")
elif i in range(3,13):
    print("Child")
elif i in range(13,20):
    print("Teenage")
else:
    print("Adult")

Adult

In [152]:
# Question 4:
# Assign a grade to a given percentage, considering the following grade scale: A (90-100), B (80-89), C (70-79), D (60-69), and F (below 60).
# Expected Input:
# percentage = 78
# Expected Output:
# Grade: C

i = int(input("Enter your percentage: "))

if (90 <= i <= 100):
    print("A")
elif (80 <= i):
    print("B")
elif (70 <= i):
    print("C")
elif (60 <= i):
    print("D")
elif (i < 60):
    print("F")

B

In [149]:
# Question 5:
# Check if a given year is a leap year, and if it is, find the number of days in February for that year.
# Expected Input:
# year = 2000
# Expected Output:
# Leap Year, February has 29 days

i = int(input("Enter the year: "))

if (i % 4 == 0 and i % 100 != 0) or (i % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Not a Leap Year

In [ ]:
#Prime number

#i = int(input("Enter the number: "))
# if i == 2:
#     print("Prime number")
# elif (i%2 == 0):
#     print("Not a prime number")
# elif num in range(2,i) and i%num==0:
#     print("Not a prime number")
# elif i == 1:
#     print("Neither prime nor composite")
# else:
#     print("Is a prime number")


j = int(input("Enter a number: "))


if j > 1:
    for i in range(2, (int)(j**0.5)+1):
        if j % i == 0:
            print("Not Prime Number")
            break
    else:
        print("Prime Number")
elif i ==1 :
    print("Neither Prime Number nor composite")

## Day 11

While loop

In [5]:
i = 1
while i<=5:
    print(i)
    i+=1
print("Hello Honey")

1
2
3
4
5
Hello Honey

### Questions to practice (Day - 11)

In [6]:
# Question 1:
# Write a while loop that prints numbers from 1 to 10.

i = 1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Question 2:
# Create a while loop that calculates the sum of numbers from 1 to n, where n is the input.
# Expected Input: 5
# Expected Output: 15 (1 + 2 + 3 + 4 + 5)

n = int(input("Enter the number: "))
i = 1
sum = 0

while i<=n:
    sum+= i
    i+=1
 
print(sum)

15

In [13]:
# Question 3:
# Write a while loop that prints even numbers from 2 to 10.

i = 2

while i < 11:
    print(i)
    i += 2

2
4
6
8
10

In [14]:
while True:
    num = int(input("Enter a number: "))
    if num < 0:
        break

In [17]:
# Question 4:
# Create a while loop that keeps prompting the user for a number until they enter a negative number.
# Expected Input: 5, 10, -2
# Expected Output: (No output, just prompt for input)

while True:
    num = int(input("Enter a number: "))
    if num < 0:
        print(num)
        break

-10

In [ ]:
# Question 5
# Write a while loop that counts down from 10 to 1.

i = 10

while i>0:
    print(i)
    i -=1

10
9
8
7
6
5
4
3
2
1

In [29]:
# Question 6:
# Create a while loop that asks the user to guess a secret number (e.g., 7) and continues until the correct number is guessed.
# Expected Output: (Depends on user input)

i = 63
guess = int(input("Guess the number: "))

while guess != i:
        guess = int(input("Guess the secret number: "))

print(i)

63

In [ ]:
# Question 7:
# Write a while loop that calculates the factorial of a given number.
# Expected Input: 4
# Expected Output: 24 (4! = 4 * 3 * 2 * 1 = 24)

product = 1
n = int(input("Enter the number: "))
i = 1

while i<=n:
    product = product * i
    i = i+1
print(product)

24

In [ ]:
# Question 8
# Create a while loop that prints the Fibonacci series up to n.
# Expected Input: 10

a = 0
b = 1
n = int(input("Enter the number: "))

while a <= n:
    print(a, end=' ')
    a, b = b, a+b

0 1 1 2 3 5

In [59]:
# Question 9:
# Write a while loop that reads numbers from the user until they enter the number 0. Then, it prints the sum of all the entered numbers.
# Expected Input: 3, 5, 2, 0
# Expected Output: 10 (3 + 5 + 2)

i = int(input("Enter the number: "))
sum = i

while i!=0:
    print(i)
    i = int(input("Enter the number: "))
   # print(i)
    sum = sum + i

print(sum)

2
6
-1
5
12

In [72]:
# Question 10:
# Create a while loop that prints the square of numbers from 1 to 5.

i = 1

while 0<i<6:
    square = i**2
    print(square)
    i = i+1

1
4
9
16
25

## Day 12

For Loop

In [73]:
# Example: Printing numbers from 1 to 5 using a for loop
for num in range(1, 6):
    print(num)

1
2
3
4
5

### Questions to practice (Day - 12):

In [ ]:
# 1.Write a for loop that prints all numbers from 1 to 5.

for num in range(1, 6):
    print(num)

1
2
3
4
5

In [ ]:
# 2.Use a for loop to calculate the sum of numbers from 1 to 10.
sum = 0 

for i in range (1, 11):
    sum = sum + i
print(sum)

55

How to print numbers in any array

In [3]:
a = ""
for num in range(1, 6):
    a = a + str(num) + " "
print(a)

1 2 3 4 5

In [ ]:
# 3.Write a for loop to print each character in the string "Hello"

for  char in "Hello":
    print(char)

H
e
l
l
o

In [86]:
# 4.Write a for loop to print the first 10 even numbers.

for i in range (10):
    print(i*2)

0
2
4
6
8
10
12
14
16
18

In [ ]:
# 5.Create a for loop that doubles each number in the sequence: 1, 2, 3, 4, 5.

for i in range (1,6):
    i = i*2
    print(i)

2
4
6
8
10

## Day 13

String Methods

In [ ]:
a = "Hello Milo!"
print(len(a))                       #length of the string len()

11

In [5]:
a = "  Hello Honey  "
b = "vizag,hyd,chennai,bng,mumbai"
c = "123456"
print(a.lower())                        #all lower cases
print(a.upper())                        #all upper cases
print(a.strip())                        #removes ending spaces
print(a.replace("Honey" , "Sweety"))    #replaces words or characters
print(b.split(","))                     #splits string into a list of substrings based on delimeters like ',' , ';' , ' : ' etc
print(a.startswith(" "))                #if it starts with the given word
print(a.endswith(" "))                  #if it ends with the given word
print(a.find("l"))                      #finds the first instance of the char or word
print(c.isdigit())                      #checks if all the chars in the string are digits 
print(a.isalpha())                      #checks if all the chars in the string are alphabets

  hello honey
  HELLO HONEY
Hello Honey
  Hello Sweety
['vizag', 'hyd', 'chennai', 'bng', 'mumbai']
True
True
4
True
False

### Questions to practice (Day - 13):

In [ ]:
# 1.Write a Python program that takes a user input string and converts it to lowercase using the lower() method.
# Input: "Hello, World!"
# Expected Output: "hello, world!"

i = input("Enter the string").lower()       # Hello tHis HEmAnTh and VeDa
print(i)

hello this hemanth and veda

In [8]:
# 2.Given a string "Hello, World!", find its length using the len() method.
# Input: "Hello, World!"
# Expected Output: 13

i = "Hello, world!"
print(len(i))

13

In [9]:
# 3.Write a Python function that takes a string as input and converts it to uppercase using the upper() method.
# Input: "Hello, World!"
# Expected Output: "HELLO, WORLD!"
 
i = input("Enter the string: ").upper()
print(i)

HELLO, WORLS!

In [10]:
# 4.Given a string "Hello123", check if it contains only alphabetic characters using the isalpha() method.
# Input: "Hello123"
# Expected Output: False

i = "Hello123"
print(i.isalpha())

False

In [11]:
# 5.Write a Python program that takes a user input string with leading and trailing whitespaces and removes them using the strip() method.
# Input: " Python Programming "
# Expected Output: "Python Programming"

i = input("Enter the string with tailing spaces: ").strip()
print(i)

Hemanth

In [16]:
# 6.Given a string "I love Python programming", split it into words using the split() method and print each word on a new line.
# Input: "I love Python programming"
# Expected Output:

i = "I love Python Programming".split()

for j in i:
    print(j)

I
love
Python
Programming

In [17]:
# 7.Write a Python program that takes a user input string and replaces all occurrences of "Python" with "Java" using the replace() method.
# Input: "I love Python programming, Python is great."
# Expected Output: "I love Java programming, Java is great."

i = "I love Python programming, Python is great."
print(i.replace("Python","Java"))

I love Java programming, Java is great.

In [18]:
# 8.Given a string "Hello, World!", check if it starts with the word "Hello" using the startswith() method.
# Input: "Hello, World!"
# Expected Output: True

i = "Hello, World!".startswith("Hello")
print(i)

True

In [ ]:
# 9.Write a Python function that takes a string as input and checks if it ends with the word "end" using the endswith() method.
# Input: "Hello, World!"
# Expected Output: False

i = input("Enter the string").endswith("end")          # Hello this is the worlds end
print(i)

True

In [21]:
# 10.Given a string "banana", count the occurrences of the letter "a" using the count() method.
# Input: "banana"
# Expected Output: 3

i = "banana".count("a")
print(i)

3

In [22]:
# 11.Write a Python program that takes a user input string and finds the index of the first occurrence of the letter "l" using the find() method.
# Input: "Hello, World!"
# Expected Output: 2

i = input("Enter the string: ").find("l")
print(i)

2

In [ ]:
# 12.Given a string "12345", check if it consists of only digits using the isdigit() method.
# Input: "12345"
# Expected Output: True

i = "12345".isdigit()
print(i)

True

## Day 14

Nested Loops

In [27]:
# Example: Print a 3x3 rectangular pattern using nested loops

for i in range(3):
    for j in range(3):
        print("*", end= " ")
    print()

* * *
* * *
* * *

In [31]:
# Example: Print a right-angled triangle pattern using nested loops

for i in range(1, 6):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

### Questions to practice (Day - 14):

In [33]:
# 1.Write a nested loop that prints a square pattern of stars (asterisks).

for i in range(4):
    for j in range(4):
        print("*", end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [ ]:
# 2.Create a nested loop to print the multiplication table from 1 to 5 (up to 10 times each).

for i in range(1,6):
    for j in range(1,6):
        print(i*j, end=" ")
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [ ]:
# 3.Write a nested loop to print a right-angled triangle of numbers in ascending order.

for i in range (1,7):
    for j in range(1,i):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [73]:
# 4.Create a nested loop that prints a hollow square pattern of stars (asterisks).

for i in range (6):
    for j in range(6):
        if i == 0 or i == 5 or j == 0 or j == 5:
            print("*", end=" ")
        else:
            print(" ", end=" ")    
    print()

* * * * * *
*         *
*         *
*         *
*         *
* * * * * *

In [ ]:
# 5.Write a nested loop to calculate and print the sum of numbers from 1 to 5 using nested iteration.

sum = 0

for i in range(1):
    for j in range(1,6):
        sum = sum+j
    print(sum)

15

In [92]:
# 6.Ceate a nested loop to print the reverse of the multiplication table from 1 to 5 (up to 10 times each).

for i in range (1,6):
    for j in range(5,0,-1):
        print(i*j, end="   ")
    print()

5   4   3   2   1
10   8   6   4   2
15   12   9   6   3
20   16   12   8   4
25   20   15   10   5

In [ ]:
# 7.Write a nested loop that prints a right-angled triangle of stars 

for i in range(6):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****

In [ ]:
# 8.Create a nested loop to find and print prime numbers from 2 to 20.

for j in range(2,21):
    for i in range(2, (int)(j**0.5)+1):
        if j % i == 0:
            break
    else:
        print(j, end=" ")

2 3 5 7 11 13 17 19

In [101]:
# 9.Write a nested loop that prints a diamond pattern of stars (asterisks).

for i in range(1, 6):
    for j in range(n-i):
        print(" ", end=" ")
    for k in range(2 * i - 1):
        print("*", end=" ")
    print() 

for i in range(n - 1, 0, -1):

    for j in range(n-i):
        print(" ", end=" ")
    for k in range(2 * i - 1):
        print("*", end=" ")
    print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [105]:
# 10.Create a nested loop to find and print the factorial of numbers from 1 to 5.

for i in range(1,6):
    j = 1

    for i in range(1, i+1):
        j = j * i
    print(j)

1
2
6
24
120

## Dayy 15

Lop Control Statements

In [1]:
# Example: Using 'break' to stop the loop when the value reaches 3

for num in range(1,5):
    if num == 3:
        break
    print(num)

1
2

In [2]:
# Example: Using 'continue' to skip printing even numbers

for num in range(1,6):
    if num % 2 == 0:
        continue
    print(num)

1
3
5

In [3]:
# Example: Using 'pass' to do nothing inside the loop

for num in range(6):
    pass

### Questions to practice (Day - 15):

In [4]:
# 1.Write a Python program to print all numbers from 1 to 10, but stop the loop immediately when reaching 5 using the break statement.

for num in range(1,10):
    if num == 5:
        break
    print(num)

1
2
3
4

In [5]:
# 2.Given a list of numbers [1, 2, 3, 4, 5], use a for loop to print the elements one by one. However, if the element is 3, skip it using the continue statement.

my_list = [1, 2, 3, 4, 5]

for num in my_list:
    if num == 3:
        continue
    print(num)

1
2
4
5

In [7]:
# 3.Write a Python function that takes a string as input and checks if it contains the letter 'o'. If it does, print "Found 'o'" and use the break statement to stop searching.

i = input("Enter a string: ")

print(i)

for each in i:
    if i == "o":
        break
print("Found 'o' ")

hello
Found 'o'

In [9]:
# 4.Given a list of numbers [1, 2, 3, 4, 5], use a for loop to double each element and print the result. However, if the element is 4, use the continue statement to skip it.

list = [1,2,3,4,5]

for i in list:
    if i == 4:
        continue
    print(i*2)

2
4
6
10

In [11]:
# 5.Write a Python program to print all numbers from 1 to 20 using a while loop. However, stop the loop when reaching 15 using the break statement.

for i in range(1,21):
    if i == 15:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

## Day 16

Commparing Strings in Python

In [13]:
string1 = "Hello"
string2 = "hello"

if string1 == string2:
    print("Both strings are equal")
else:
    print("Both strings are not equal")

if string1 != string2:
    print("Both strings are not equal")
else:
    print("Both strings are equal.")

Both strings are not equal
Both strings are not equal

In [20]:
string1 = "apple"
string2 = "banana"

print(string1 > string2)

print( string1 == string2)

print(string1 < string2)

print(string1 >= string2)

False
False
True
False

### Questions to practice (Day - 16):

In [21]:
# 1.Given two strings "Python" and "python", check if they are equal using the equality operator (==).

str1 = "Python"
str2 = "python"

print(str1 == str2)

False

In [23]:
# 2.Write a Python function that takes a string as input and checks if it is an empty string using the equality operator (==).

str1 = input("Enter the string:")

print(str1 == "")

True

## Day 17

Lists

### Creating Lists:

In [29]:
num = [1,2,3,4,5]

print(num)

fruits = ["apple", "banana", "orange"]
print(fruits)

mix = [1, "Apple", True, 3.1452]
print(mix)

[1, 2, 3, 4, 5]
['apple', 'banana', 'orange']
[1, 'Apple', True, 3.1452]

### Accessing Elements:

In [31]:
fruits = ["apple", "banana", "Mango"]

print(fruits[0])

print(fruits[2])

apple
Mango

### Modifying Elements:

In [32]:
fruits = ["apple", "banana", "Mango"]

fruits[1] = "grapes"

print(fruits)

['apple', 'grapes', 'Mango']

### List Operations

In [35]:
list1 = [1, 2, 30]
list2 = [5, 6, 24]

# Concantenation

result = list1 + list2
print(result)

# repetition
r_list1 = list1 * 4
print(r_list1)

print(result.sort())

[1, 2, 30, 5, 6, 24]
[1, 2, 30, 1, 2, 30, 1, 2, 30, 1, 2, 30]
None

### List Methods

In [38]:
fruits = ["apple", "banana", "pineapple", "orange", "kiwi"]

# Adding elements

fruits.append("iceapple")
print(fruits)

fruits.remove("banana")
print(fruits)

fruits.sort()
print(fruits)

['apple', 'banana', 'pineapple', 'orange', 'kiwi', 'iceapple']
['apple', 'pineapple', 'orange', 'kiwi', 'iceapple']
['apple', 'iceapple', 'kiwi', 'orange', 'pineapple']

### Questions to practice (Day - 17):

In [39]:
# 1.Write a Python program that takes a list of numbers [1, 2, 3, 4, 5] and prints each number on a new line.

i = [1, 2, 3, 4, 5]

for i in i:
    print(i)

1
2
3
4
5

In [41]:
# 2.Given a list of strings ["apple", "banana", "orange"], concatenate all the strings together with a space in between and print the result.

l = ["apple", "banana", "orange"]

print(" ".join(l))

apple banana orange

In [42]:
# 3.Write a Python function that takes a list of numbers as input and returns the sum of all the numbers.

num = [1, 2, 3, 4, 5]
total = 0

for n in num:
    total = total + n
print(total)

15

In [43]:
# 4.Given a list of numbers [10, 20, 30, 40, 50], find the maximum number using the max() function and print the result.

num = [10, 20, 30, 40, 50]

print(max(num))

50

In [55]:
# 5.Write a Python program that takes a list of names ["Alice", "Bob", "Charlie"] and checks if a given name (e.g., "Alice") is present in the list. Print "Name found" if the name is in the list; otherwise, print "Name not found".

names = ["Alice", "Bob", "Charlie"]

for name in names:
    if name =="Alice":
        print("Name found")
        break
    else:
        print("Name not found")

Name found

## Day 18

Tuples

Tuple Packing and Unpacking:

In [59]:
person = ("John", 30, "New york")
name, age, city = person

print(name)
print(age)
print(city)

John
30
New york

### Questions to practice (Day - 18):

In [1]:
# 1.Create a tuple containing three elements: 'apple', 5, and True.

tuple = ('apple', 5, True)

print(tuple)

('apple', 5, True)

In [3]:
# 2.Access the second element from the given tuple: ('cat', 'dog', 'bird', 'fish').

tuple = ('cat', 'dog', 'bird', 'fish')

print(tuple[1])

dog

In [4]:
# 3.Concatenate two tuples: (1, 2, 3) and ('a', 'b', 'c').

t1 = (1,2,3)
t2 = ('a', 'b', 'c')

print(t1 + t2)

(1, 2, 3, 'a', 'b', 'c')

In [5]:
# 4.Find the length of the tuple: (10, 20, 30, 40, 50).

tuple = (10, 20, 30, 40, 50)

print(len(tuple))

5

In [18]:
# 5.Check if the element 25 exists in the tuple: (10, 20, 30, 40, 50).

tuple = (10, 20, 30, 40, 50)


t = 25 in tuple
print(t)

False

In [19]:
# 6.Create a new tuple with elements from the given tuple (3, 6, 9) repeated 3 times.

t = (3, 6, 9)

t2 = t * 3

print(t2)

(3, 6, 9, 3, 6, 9, 3, 6, 9)

In [23]:
# 7.Perform packing and unpacking on a tuple containing the names of three fruits: 'apple', 'banana', and 'orange'. Use unpacking to assign each fruit to three variables: fruit1, fruit2, and fruit3.

fruits = ('apple', 'banana', 'orange')
fruit1, fruit2, fruit3 = fruits

print("fruit1 = ",fruit1)
print("fruit2 = ",fruit2)
print("fruit3 = ",fruit3)

fruit1 =  apple
fruit2 =  banana
fruit3 =  orange

## Day 19

Dictionaries

In [3]:
# Creating dictionaries

student = {
    "name":   "Hemanth",
    "age":    21,
    "major":  "CSE",
    "gpa":   "7.62"
}

print(student)

{'name': 'Hemanth', 'age': 21, 'major': 'CSE', 'gpa': '7.62'}

In [7]:
# Example: Accessing values in a dictionary
student = {
    "name": "Hemanth",
    "age": 22,
    "major": "Computer Science",
    "gpa": 7.6
}

print(student["name"])  # Output: "Dodagatta Nihar"
print(student["gpa"])   # Output: 3.8

Hemanth
7.6

### Questions to practice (Day - 19):

In [8]:
# Question 1: Create an empty dictionary.

student = {}
print(student)

{}

In [20]:
# Question 2: Create a dictionary to store the age of two people, "John" and "Alice." John is 25 years old, and Alice is 30 years old.

people = {
    "John": 25 ,
    "Alice": 30
}

print("John : ",people["John"])
print("Alice: ", people["Alice"])

print(people)

John :  25
Alice:  30
{'John': 25, 'Alice': 30}

In [21]:
# Question 3: Access the value associated with the key "city" from the given dictionary.
# Expected Input: Dictionary: {"name": "Alice", "city": "New York", "age": 30}
# Expected Output: "New York"

data = {
    "name": "Alice",
    "city": "New york",
    "age" : 30
}

print(data["city"])

New york

In [22]:
# Question 4: Create a dictionary to store the contact information of a person. The person's name is "Bob," and their email is "bob@example.com."
# Expected Output: {"name": "Bob", "email": "bob@example.com"}

data ={
    "name": "Bob",
    "email": "bob@example.com"
}

print(data)

{'name': 'Bob', 'email': 'bob@example.com'}

In [26]:
# Question 5: Access the value associated with the key "score" from the given dictionary.
# Expected Input: Dictionary: {"name": "John", "age": 22, "score": 85}
# Expected Output: 85

dict = {
    "name": "John",
    "age": 22,
    "score": 85
}

print(dict["score"])

85

In [24]:
# Question 6: Create a dictionary to represent a rectangle. The rectangle has a width of 10 and a height of 5.
# Expected Output: {"width": 10, "height": 5}

rectangle = {
    "width": 10,
    "height":5
}

print(rectangle)

{'width': 10, 'height': 5}

### Day20

Working with Dictionaries

In [1]:
# Modifying and Adding Key_Value Pairs:

student= {
    "name": "Hemanth",
    "age": 22,
    "major": "Computer Science",
    "gpa": 7.2
}

# Modifying value

student["gpa"] = 7.6

# Adding new key_value pair

student["university"] = "JNTU GV University"

print(student)

{'name': 'Hemanth', 'age': 22, 'major': 'Computer Science', 'gpa': 7.6, 'university': 'JNTU GV University'}

In [ ]:
# Example: Dictionary methods 

student = {
    "name": "Hemanth",
    "age": 25,
    "major": "Computer Science Engineering",
    "gpa": 7.6
}

# Get keys and values

keys = student.keys()
values = student.values()

print(keys)
print(values)

# Check if a key exists in the dictionary

if "major" in student:
    print("Major:", student["major"]) 

# Remove a key-value pair from the dictionary

remove_value = student.pop("age")
print("Removed Value:", remove_value)

print(student)

dict_keys(['name', 'age', 'major', 'gpa'])
dict_values(['Hemanth', 25, 'Computer Science Engineering', 7.6])
Major: Computer Science Engineering
Removed Value: 25
{'name': 'Hemanth', 'major': 'Computer Science Engineering', 'gpa': 7.6}

### Questions to practice (Day - 20):

In [ ]:
# 1. Question 1: Given the initial dictionary `employee` as `{"name": "Alice", "age": 30}`, modify the value of the key "age" to 35.
# Expected Input: `employee = {"name": "Alice", "age": 30}`
# Expected Output: `{"name": "Alice", "age": 35}`

employee = { "name": "Alice", "age": 30}

employee["age"] = 35

print(employee)

{'name': 'Alice', 'age': 35}

In [8]:
# Question 2: Add a new key-value pair to the dictionary fruits, where the key is "orange" and the value is 3.
# Expected Input: fruits = {"apple": 5, "banana": 7}
# Expected Output: {"apple": 5, "banana": 7, "orange": 3}

fruits = {"apple": 5, "banana":7 }

fruits["orange"] = 3

print(fruits)

{'apple': 5, 'banana': 7, 'orange': 3}

In [14]:
# Question 3: Given the dictionary inventory, remove the key "sugar" and its associated value from the dictionary.
# Expected Input: inventory = {"apple": 10, "banana": 15, "sugar": 2}

inventory = {"apple":10, "banana":15, "sugar": 2}
inventory.pop("sugar")

print(inventory)

{'apple': 10, 'banana': 15}

In [ ]:
# Question 4: Create a function called add_stock that takes a dictionary stock and an item item_name (string) as input and adds 1 to the value of the corresponding key in the dictionary. Return the modified dictionary.
# Expected Input: stock = {"apple": 10, "banana": 15}, item_name = "banana"
# Expected Output: {"apple": 10, "banana": 16}

stock = {"apple": 10, "banana": 15}

item_name = input("Enter the item name: ")

if item_name in stock:
    stock[item_name] += 1
else:
    stock[item_name] = 1

print(stock)

{'apple': 10, 'banana': 16}

In [22]:
# Question 5: Given the dictionary scores, check if the key "Alice" exists. If it exists, print the associated value; otherwise, print "Key not found."
# Expected Input: scores = {"Bob": 85, "Charlie": 90, "Alice": 78}
# Expected Output: 78

scores = {"Bob":85, "Charlie":90, "Alice": 78}

i = input("Enter the key:")

if i in scores:
    print(scores[i])
else:
    print("Key not Found")

85

In [1]:
# Question 6: Write a function called count_vowels that takes a string text as input and returns a dictionary containing the count of each vowel (a, e, i, o, u) in the text. Ignore case sensitivity.
# Expected Input: text = "Hello, World!"
# Expected Output: {"a": 0, "e": 1, "i": 0, "o": 2, "u": 0}

text = input("Enter the text: ").lower()

vowels = {"a": 0, "e": 0, "i": 0, "o": 0, "u":0}

for char in text:
    if char in vowels:
        vowels[char] += 1

print(vowels)

{'a': 3, 'e': 1, 'i': 1, 'o': 2, 'u': 1}

In [3]:
# Question 7: Given the dictionary student_grades, find the highest grade and its corresponding student name. The dictionary contains student names as keys and their grades as values.
# Expected Input: student_grades = {"Alice": 85, "Bob": 90, "Charlie": 78}
# Expected Output: ("Bob", 90)

student_grades = {"Alice": 85, "Bob": 90, "Charlie":78 }

high = -1
topper = ""

for name in student_grades:
    if student_grades[name] > high:
        high = student_grades[name]
        topper = name 

print((topper, high))

('Bob', 90)

### Day 21

Sets

In [ ]:
my_set = {1,2,3,4,5}

# Using the set() constructor

another_set = set([5,6,7,8,9])

In [5]:
# Removing Elements from a Set

my_set = {1,2,3,4,5}
my_set.remove(3)
print(my_set)

# Pop removes and returns an arbitary element from the set

pop_element = my_set.pop()
print(pop_element, my_set)

{1, 2, 4, 5}
1 {2, 4, 5}

### Questions to practice (Day - 21):

In [7]:
# Question 1: Creating a set
# Expected Input: None
# Expected Output: An empty set

set = {}
print(set)

{}

In [9]:
# Question 2: Adding elements to a set
# Expected Input: Set: {1, 2, 3}, Element to add: 4
# Expected Output: Set: {1, 2, 3, 4}

set = {1,2,3}

set.add(4)

print(set)

{1, 2, 3, 4}

In [10]:
# Question 3: Removing an element from a set
# Expected Input: Set: {1, 2, 3, 4}, Element to remove: 3
# Expected Output: Set: {1, 2, 4}

set = {1,2,3,4}

set.remove(3)
print(set)

{1, 2, 4}

In [12]:
# Question 4: Removing a non-existent element from a set
# Expected Input: Set: {1, 2, 3, 4}, Element to remove: 5
# Expected Output: Set: {1, 2, 3, 4}

set = {1,2,3,4}

bye_bye = 5

set.discard(bye_bye)


print("Set:",set)

Set: {1, 2, 3, 4}

In [1]:
# Question 5: Creating a set from a list
# Expected Input: List: [5, 10, 15, 20]
# Expected Output: Set: {5, 10, 15, 20}

# first run del set 

# then re run the code by deleting the del set 

myList = [1, 2, 3, 4, 4]
mySet = set(myList)
print(mySet)

{1, 2, 3, 4}

In [24]:
# Question 6: Adding multiple elements to a set
# Expected Input: Set: {1, 2, 3}, Elements to add: {4, 5}
# Expected Output: Set: {1, 2, 3, 4, 5}

i = {1, 2, 3}

i.add(4)
i.add(5)
print(i)

{1, 2, 3, 4, 5}

In [6]:
# **Question 7: Removing elements using discard()**
# Expected Input: Set: {10, 20, 30, 40}, Elements to remove: {20, 50}
# Expected Output: Set: {10, 30, 40}

their_set = {10, 20, 30, 40}
elements_to_remove = {20, 50}

print(their_set)
for element in elements_to_remove:
    my_set.discard(element)
    print(their_set)

print("Set:", their_set)

{40, 10, 20, 30}
{40, 10, 20, 30}
{40, 10, 20, 30}
Set: {40, 10, 20, 30}

## Day 22

Working with Sets

### Questions to practice (Day - 22):

In [9]:
# Question 1: Symmetric Difference between two sets
# Expected Input: Set A: {1, 2, 3}, Set B: {3, 4, 5}
# Expected Output: {1, 2, 4, 5}

set1  = {1,2,3}
set2 = { 3,4,5}

sd = set1.symmetric_difference(set2)
print(sd)

{1, 2, 4, 5}

In [11]:
# Question 2: Checking membership in a set
# Expected Input: Set: {1, 2, 3}, Element to check: 2
# Expected Output: True

set1 = {1,2,3}

if 2 in set1:
    print(True)
else:
    print(False)

True

In [12]:
# Question 3: Union of two sets
# Expected Input: Set A: {1, 2, 3}, Set B: {3, 4, 5}
# Expected Output: {1, 2, 3, 4, 5}

print(set1.union(set2))

{1, 2, 3, 4, 5}

In [13]:
# Question 4: Intersection of two sets
# Expected Input: Set A: {1, 2, 3}, Set B: {3, 4, 5}
# Expected Output: {3}

print(set1.intersection(set2))

{3}

In [14]:
# Question 5: Difference between two sets
# Expected Input: Set A: {1, 2, 3, 4}, Set B: {3, 4, 5}
# Expected Output: {1, 2}

print(set1-set2)

{1, 2}

In [15]:
# Question 6: Removing duplicate elements from a list using a set
# Expected Input: List: [1, 2, 2, 3, 4, 4, 5]
# Expected Output: [1, 2, 3, 4, 5]

i = [1,2,2,3,4,4,5]

j = set(i)
print(j)

{1, 2, 3, 4, 5}

In [16]:
# Question 7: Finding the length of a set
# Expected Input: Set: {1, 2, 3, 4, 5}
# Expected Output: 5

print(len(j))

5

In [ ]:
# Question 8: Checking if one set is a subset of another
# Expected Input: Set A: {1, 2, 3}, Set B: {1, 2, 3, 4, 5}
# Expected Output: True

set_A = {1, 2, 3}
set_B = {1, 2, 3, 4, 5}

result = set_A.issubset(set_B)
print(result)

True

In [2]:
# Question 9: Checking if two sets are disjoint
# Expected Input: Set A: {1, 2, 3}, Set B: {4, 5, 6}
# Expected Output: True


set_A = {1, 2, 3}
set_B = {4, 5, 6}

result = set_A.isdisjoint(set_B)
print(result)

True

In [3]:
# **Question 10: Removing all elements from a set**
# Expected Input: Set: {1, 2, 3, 4, 5}
# Expected Output: An empty set

set_A = {1, 2, 3}
set_B = {4, 5, 6}

result = set_A.isdisjoint(set_B)
print(result)

True

## Day 23

Functions

In [6]:
def greet():
    return "Hello World"
def add(a,b):
    return a+b

a = greet()

print(a)

b = add(2,3)
print(b)

Hello World
5

In [ ]:
def greet_user(name):
    print(f"Hello, {name}!")

greet_user("Hemanth")

Hello, Hemanth!

In [8]:
def sub_num(a, b):
    return a-b

result = sub_num(10, 5)
print(result)

5

### Questions to practice (Day - 23):

In [22]:
# Problem 1: Simple function without parameters
# Write a function called greet that takes no parameters and returns the string "Hello, World!"

def greet():
    print("Hello, World!")

greet()

Hello, World!

In [36]:
# Problem 2: Function with one parameter
# Write a function called greet_user that takes a name parameter and returns a greeting message with the name.

def greet_user(name):
    print(f"Hello, {name}!")
    return
    
greet_user("Alice")

Hello, Alice!

In [29]:
# Problem 3: Function with two parameters and mathematical operation
# Write a function called add_numbers that takes two parameters a and b, and returns their sum.

def add_numbers(a,b):
    return a+b

result = add_numbers(5, 15)
print(result)

20

In [32]:
# Problem 4: Function with a conditional statement
# Write a function called check_even_odd that takes a number parameter and returns "Even" if the number is even, and "Odd" if the number is odd.

def check_even_odd(a):
    if a % 2 == 0:
        return "Even"
    else:
        return "Odd"
    
result = check_even_odd(8)
print(result)

Even

In [39]:
# Problem 5: Function with default parameter value
# Write a function called greet_user that takes an optional name parameter with a default value of "Guest". The function should return a greeting message with the provided name or "Guest" if no name is provided.

def greet_user(name = "Guest"):
    return f"Hello, {name}!"

msg = greet_user()
print(msg)

Hello, Guest!

In [ ]:
# Problem 6: Function with a variable number of arguments (variadic function)
# Write a function called sum_numbers that takes a variable number of arguments and returns the sum of all the arguments./


def sum_numbers(*args):
    return sum(args)

result = sum_numbers(10, 20, 60)
print(result)

90
90

In [51]:
# Problem 7: Nested Functions
# Write a function called square that takes a number x as input and returns the square of that number using a nested function called multiply to perform the calculation.

def square(x):
    return x ** 2

result = square(6)
print(result)

36

## Day 24

In [1]:
# Default parameters:

def g_u(name = 'Guest'):
    print(f"Hello, {name}!")

g_u()
g_u("Alice")

Hello, Guest!
Hello, Alice!

In [4]:
global_variable = "I'm global"

def function_with_local_variable():
    local_variable = "I'm local"
    print(global_variable)     # Output: I'm global
    print(local_variable)      # Output: I'm local

function_with_local_variable()
print(global_variable)         # Output: I'm global
# print(local_variable)       # Raises NameError: name 'local_variable' is not defined

I'm global
I'm local
I'm global

### Input methods

In [ ]:
r = int(input())
c = int(input())

mat = []

""" 
1
2
3
4 """

for i in range(r):
    for j in range(c):

In [3]:
matrix = [[1,2,3],[4,5,6],[0,8,7]]


print(matrix[1][0])

4

In [ ]:
a = [1,2,3,4,5,6]

print(a[3])

4

In [13]:
n = 1221
n = int(n)

rev = 0
#bruteforce approach
while n>0:
    # cnt+=1
    rev = (rev*10) + n%10
    n = n//10

print(rev)


if n == rev:
    print("True")
else:
    print("False")

1221
False

### Count the number of digits in the given nummber

In [5]:
n = 14336

print(n)
print(n%10) # remainder 6
n = n//10 # 1433


print(n)
print(n%10)
n = n//10

print(n)
print(n%10)
n = n//10

print(n)
print(n%10)
n = n//10

print(n)
print(n%10)
n = n//10

print(n)
print(n%10)
n = n//10

print(n)
print(n%10)
n = n//10

14336
6
1433
3
143
3
14
4
1
1
0
0
0
0

In [4]:
n = 1221

count = 0

#bruteforce approach
while n > 0:
    count = count + 1
    n = n // 10
   # print(count)
print(count)

4

In [3]:
#optimal approach

import math
n = 0
count = int(math.log10(n) + 1)
print(count)

ValueError: math domain error

### Reverse of the number

In [ ]:
n = 14336

rev = 0

print(n % 10)
rev = (rev * 10) + (n % 10)
n = n // 10
print(rev)
print(n % 10)
rev = (rev * 10) + (n % 10)
n = n // 10
print(rev)
print(n % 10)
rev = (rev * 10) + (n % 10)
n = n // 10
print(rev)
print(n % 10)
rev = (rev * 10) + (n % 10)
n = n // 10
print(rev)
print(n % 10)
rev = (rev * 10) + (n % 10)
n = n // 10
print(rev)

6
6
3
63
3
633
4
6334
1
63341

In [7]:
n = 1433883341
r = 0
m = n

print(n == m)

while n > 0:
    r = (r * 10) + (n % 10)
    n = n // 10
    
print(r)

print("Value of n: ",n)

print(r)

print(m == r)

if m == r:
    print("Is a palindrome")
else:
    print("Not a Palindrome")

True
1433883341
Value of n:  0
1433883341
True
Is a palindrome

In [83]:
n = 1221
n = m

rev = 0

#bruteforce approach
while n>0:
    # cnt+=1
    rev = (rev*10) + n%10
    n = n//10

print(rev)
if m == rev:
    print("True")
else:
    print("False")

143341
True

In [72]:
n = 101

ji = 101

k = ji


print(n == k)

True

### Armstrong number

In [3]:
import math

n = 153

count = (int(math.log10(n) ) + 1)


while n > 0:
    count = cout

NameError: name 'cout' is not defined

In [4]:
def r_t(rows):
    for i in range(1, rows + 1):
        print("*" * i)

r_t(5)

*
**
***
****
*****

In [4]:
def pyramid(rows):
    for i in range(1, rows + 1):
        spaces = " " * (rows - i)
        stars = "*" * (2 * i - 1)
        print( spaces + stars)
        
pyramid(5)

    *
   ***
  *****
 *******
*********

In [9]:
def h_s(rows):
    for i in range(rows):
        if i == 0 or i == rows - 1:
            print("*" * rows)
        else:
            print("*" + " " * (rows - 2) + "*")

h_s(25)

*************************
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*                       *
*************************

In [2]:
    def get_matrix_input(rows, cols):
        matrix = []
        print(f"Enter matrix elements ({rows}x{cols}), row by row, separated by spaces:")
        for _ in range(rows):
            while True:
                row_input = input().split()
                if len(row_input) == cols:
                    try:
                        row = [int(num) for num in row_input]
                        matrix.append(row)
                        break
                    except ValueError:
                        print("Invalid input. Please enter numbers only.")
                else:
                    print(f"Invalid input. Enter {cols} numbers separated by spaces.")
        return matrix

    rows = 2
    cols = 3
    matrix = get_matrix_input(rows, cols)

Enter matrix elements (2x3), row by row, separated by spaces:
Invalid input. Enter 3 numbers separated by spaces.

In [ ]:
def a(num):
    n_str = str(num)
    power = len(n_str)
    total = sum(int(digit) ** power for digit in n_str)
    return num == total

n = int(input("Enter a number: "))
if a(n):
    print(f"{n} is an Armstrong  number")
else:
    print(f"{n} is not an Armstrong number")

153 is an Armstrong  number

In [11]:
for num in range(1,1000001):
    if a(num):
        print(num, end=" ")

1 2 3 4 5 6 7 8 9 153 370 371 407 1634 8208 9474 54748 92727 93084 548834

In [31]:
n = int(input("Enter a number: "))
def div(n):
    print(f"Divisiors of {n} : ")
    for i in range(1, int(n**0.5) + 1):
        if n % i == 0:
            print(i, end = " ")
            if i != n // i:
                print(n // i, end = " ")
            print()

div(n)

Divisiors of 144 :
1 144
2 72
3 48
4 36
6 24
8 18
9 16
12

In [ ]:
n = int(input("Enter a number: "))

def div(n):
    print(f"Divisiors of {n}: ")
    div = []

    for i in range(1, int(n**0.5) + 1):
        if n % i == 0:
            div.append(i)
            if i != n // i:
                div.append(n // i)

    for digit in sorted(div):
        print(digit, end= " ")
    print()

div(n)

Divisiors of 10:
1 2 5 10

In [ ]:
p = int(input())
print(p)
if j > 1:
    for i in range(2, (int)(p**0.5)+1):
        if p % i == 0:
            print("Not Prime Number")
            break
    else:
        print("Prime Number")
elif i ==1 :


    print("Neither Prime Number nor composite")

143
Not Prime Number

In [82]:
# a = int(input())
# b = int(input())
# print(a,b)
a,b = map(int, input().split( ))
def hcf(a,b):
    while b != 0:
        a,b = b, a % b
    return a

print(f"HCF: {hcf(a,b)}")

HCF: 1