## Recursion

When a function calls itself until a specified condition is met.

In [5]:
def reoccur():
    print(1)
print(reoccur())

1
None

In [16]:
# Print first 20 numbers using recursion.

def num(n):
    if n > 20:    # Base condition when n > 20 stop 
        return
    print(n)
    num(n + 1)

num(1)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

### Recursion Tree

num(1) -> num(2) -> num(3) -> ..... -> num(20) -> num(21) -> return

### Questions on recursion (vid 2)

In [31]:
# Print Name 5 times

def name_count(n):
    if n ==0:
        return
    print("Hemanth")
    name_count(n-1)

name_count(5)

Hemanth
Hemanth
Hemanth
Hemanth
Hemanth

In [26]:
print("hemanth " * 5)

hemanth hemanth hemanth hemanth hemanth

In [35]:
# Print linealy from 1 to N

def lin(n, count = 1):
    if count > n:
        return
    print(count)
    lin(n , count + 1)

lin(20)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [42]:
# Print lineraly from N to 1

def lin(n):
    if n == 0:
        return
    print(n)
    lin(n-1)

lin(20)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [51]:
# Print lineraly from N to 1

def zen(x, coun = 20):
    if coun == 0:
        return
    print(coun)
    zen(x, coun - 1)

zen(20)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [52]:
# print linearly from 1 to N using backtracking

def backtrack(n):
    if n == 0:
        return
    backtrack(n - 1)
    print(n)

backtrack(10)

1
2
3
4
5
6
7
8
9
10

In [53]:
# Print linearly from N to 1 using backtracking

def r_backtrack(n):
    if n == 0:
        return
    print(n)
    r_backtrack(n  - 1)

r_backtrack(6)

6
5
4
3
2
1

### Parameterized way

In [61]:
# Sum of first n numbers using recursion 

def sum_para(n, sum = 0):
    if n == 0:
        print(sum)
        return
    sum_para(n-1, sum+n)

sum_para(10)

55